#sub-main-section {
	#sub-heading {
		font-size: 32px;
		#text {
			font-size: 16px;
		}
	}

	padding-left: 0.5rem;
	margin: auto;
	width: 73%;
	margin-top: 1rem;
	border: 1px solid gray;
	padding-bottom: 1rem;
	border-radius: 2px;
	#input-field {
		height: 22px;
		width: 175px;
	}
	#submit-btn {
		background-color: black;
		color: white;
		outline: none;
		border: none;
		width: 65px;
		height: 28px;
		border-radius: 2px;
		margin-left: 0.2rem;
	}
	#list-container {
		padding-left: 0;
		#list-items {
			list-style-type: none;
			border: 0.5px solid gray;
			border-radius: 2px;
			height: 50px;
			margin-right: 0.8rem;
			#delete-btn {
				margin-top: 0.5rem;
				background-color: rgb(215, 51, 51);
				border: none;
				outline: none;
				color: white;
				width: 25px;
				height: 33px;
				border-radius: 2px;
				margin-left: 60rem;
			}
		}
	}
}
