#header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: green;
	color: white;
	#heading {
		font-size: 40px;
	}
}
#search-bar {
	width: 500px;
	height: 20px;
	font-size: 16px;
}
